@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  /*src: local('Open Sans Light'), local('OpenSans-Light');*/
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font-google/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /*src: local('Open Sans'), local('OpenSans');*/
  src: local('Open Sans'), local('OpenSans'), url(font-google/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
